@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos para la barra de navegación */

.navbar {
    background-color: #af9500;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    height: 4.8%;
    left: 0;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    height: 30px;
  }
  
  .navbar ul li {
    display: inline-block; /* Muestra los elementos en línea */
    
  }
  
  .navbar ul li a {
    display: inline-block; /* Muestra los enlaces en línea */
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1vw;
  }
  
  .navbar ul li a:hover {
    background-color: #ffffff;
  }
  
  /* Estilos para el contenido */
  .content {
    padding-bottom: 50px; /* Ajusta el espacio inferior para evitar que el contenido se solape con la barra de navegación */
  }