body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    margin: auto;
    overflow: auto;
    display: auto;
    position: relative;
    margin-top: 60px;
}

.navbar {
    background-color: #8E7A00;
    overflow: hidden;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.navbar ul li {
    margin-right: 10px;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a.cerrar-sesion {
    position: absolute;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    right: 0;
}
.navbar ul li a.cerrar-sesion:hover{
    background-color: red;
    color: rgb(0, 0, 0);
}

.navbar ul li a:hover {
    background-color: #dddddd;
    color: black;
}

table {
    width: 100%;
    height: 80%;
    border-collapse: collapse;
    margin-top: 60px;

}

td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}
th{
    padding: 5px;
    text-align: center;
    border-bottom: 0px solid rgb(0, 0, 0);
}

th {
    background-color: #8E7A00;
    position: sticky;
    top: 0;
}



tr:hover {
    background-color: #1a1a1a9f;
}


.search-bar {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    position: relative;
    border: 3px solid #070707;
    border-radius: 4px;
    padding: 9px 13px;
    width: 100%;
    margin-top: 49%;
}



/* Estilos para los filtros */
table input[type="text"],
input[type="date"],
select[type="select"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}


.container-table {
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
}

.table-wrapper {
    width: 100%;
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
}

.table-wrapper table {
    width: auto; 
}

table.default td button {
    margin-right: 5px; 
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}


.caducidad-cercana {
    background-color: #ff4c4c; 
    color: rgb(0, 0, 0);
}

.caducidad-media {
    background-color: #ffff00; 
}

.eliminar {
    background-color: rgb(158, 0, 0); 
    border-radius: 12px;
    cursor: pointer; 

}

.eliminar img {
    width: 20px; 
    height: 20px; 
}

.eliminar:hover{
    background-color: #fd8060;
}

.editar {
    background-color: blue;
    border-radius: 12px;
    cursor: pointer; 
    padding: 0; 
}

.editar img {
    width: 20px; 
    height: 20px; 
}
.editar:hover{
    background-color: #2788f7;
}


.insertar{
    width: 49px;
    position: relative;
    margin-right: 1%;
    cursor: pointer;
    background-color: rgb(67, 134, 0);
    border-radius: 6px;
    margin-bottom: -1%;
    margin-left: .4%;
    margin-top: 3%;
}

.insertar:hover{
    background-color: greenyellow;
}

.insertar-imagen{
    width: 20px;
    height: 20px;
}

.navbar ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.navbar ul li:hover > ul {
    display: inherit !important;
}

h1 {
    font-size: 70px;
    position: sticky;
    text-align: center;
    display: block;
    margin: auto;
    font-family: sans-serif;
}

.color_p{
    position: absolute;
    margin-left: 44%;
    margin-top: 6%;
    
}

.color-rojo{
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    margin-left: 0px;
    border-radius: 5px;
}
p{
    display: inline;
    text-align: center;
    font-family: sans-serif;
    margin-left: 24px;
}


.color_a{
    position: absolute;
    margin-left: 51%;
    margin-top: 6%;
    
}

.color-amarillo{
    position: absolute;
    background-color: rgb(229, 255, 0);
    width: 20px;
    height: 20px;
    margin-left: 0px;
    border-radius: 5px;
}
.ama{
    display: inline;
    text-align: center;
    font-family: sans-serif;
    margin-left: 24px;
}

.stock-bajo { color: rgb(255, 255, 255); }
