@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('/static/imagenes/fondo.png'); /* Ruta absoluta para la imagen */
  background-size: 50%;  
  background-repeat: no-repeat; 
  background-position: center; 
  position: static;
}

.container {
  text-align: center;
}

.container .titulo {
  margin-bottom: 30px;
}

.container .login {
  background-color: #ad9300;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: static;
}

.container .login form {
  display: revert;
  width: 250px;
}

.container .login form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.container .login form input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container .login form button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container .login form button:hover {
  background-color: #0055b6;
}


.links {
  position: relative;
  margin-top: 10%;
}

a{
  color: white;
  text-decoration: auto;
  font-size: 1.1vw;
}

a:hover{
  color: rgb(0, 0, 0);
}

h2 {
  position: relative;  
  color: rgb(0, 0, 0);
  margin-top: -5%;
}

.uusmb{
  width: 11%;
  position: fixed;
  top: 0;
  margin-top: 3.4%;
  right: 0;
  margin-right: 10%;
}

.unam{
  position: fixed;
  width: 11%;
  top: 0;
  margin-top: 3.2%;
  left: 0;
  margin-left: 10%;
}

.laboratorio{
  position: fixed;
  width: 15%;
  top: 0;
  margin-top: 2.1%;
}

p{
  display: none;
}

