@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('/static/imagenes/fondo.png');
  background-size: 50%;  
  background-repeat: no-repeat; 
  background-position: center; 
  position: static;
}

.navbar{
    left: 0;
}

.container {
  width: 400px;
  margin: 0 auto;
  background-color: #ad9300;
  padding: 10px 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 4%;
  text-align: center;
}

h1 {
  text-align: center;
  color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 1.3vw;
}

button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

#id_username_helptext {
  display: none;
}

input[type="submit"]:hover,
button:hover {
  background-color: #0055b6;
}

.links {
  position: relative;
  margin-top: 10%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.1vw;
}

a:hover {
  color: rgb(0, 0, 0);
}

h2 {
  position: relative;  
  color: rgb(0, 0, 0);
  margin-top: 0%;
}

#id_respuesta_recuperacion {
  -webkit-text-security: disc; /* Para navegadores WebKit como Chrome y Safari */
  -moz-text-security: disc; /* Para navegadores basados en Gecko como Firefox */
}

.container .login form input[type="submit"] {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container .login form input[type="submit"]:hover {
  background-color: #0055b6;
}
