{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Asignar Permisos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/asignar.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/perfil/">Perfil</a></li>
            <li><a href="/">Inicio</a></li>
            {%if perms.app.view_registro%}
            <li><a href="/inventario/">Inventario</a></li>
            {%endif%}
            {% if perms.app.view_receta %}
            <li><a href="/recetas/">Recetas</a></li>
            {% endif %}
            {% if perms.app.view_item %}
            <li><a href="{% url 'listar_items' %}">Items</a></li>  
            {% endif %}
            {% if perms.app.view_marca %}
            <li><a href="/marca/">Marca</a></li>
            {% endif %}
            {% if perms.app.view_proveedor %}
            <li><a href="/proveedores/">Proveedores</a></li>
            {% endif %}
            {% if perms.app.view_type %}
            <li><a href="/tipos/">Tipos</a></li>
            {% endif %}
            {% if perms.app.view_location %}
            <li><a href="/listar-locations/">Ubicaciones</a></li>
            {% endif %}
            {% if perms.app.view_bitacora %}
            <li><a href="/bitacora/">Bitácora</a></li>
            {% endif %}
            {% if perms.app.view_auth_permission %}
            <li><a href="/asignar-permisos/">Permisos</a></li>
            {% endif %}
            {% if perms.app.view_receta %}
            <li><a href="/usos-receta/">Reporte</a></li>
            {% endif %}
            <li>
                <div class="cerrar-sesion"><a href="{% url 'salir' %}" class="cerrar-sesion">Salir</a></div>
            </li>
        </ul>
    </nav>
    <br><br><br><br><br>
    <h1>Asignar Permisos a Usuarios</h1>
    <br><br>
    <div class='permisos'>
    {% if messages %}
        <ul class="messages">
            <br><br><br>
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="get">
        <label for="username">Seleccione un usuario:</label>
        <select name="username" id="username" onchange="this.form.submit()">
            <option value="">--Seleccione un usuario--</option>
            {% for usuario in usuarios %}
                <option value="{{ usuario.username }}" {% if selected_username == usuario.username %}selected{% endif %}>
                    {{ usuario.username }}
                </option>
            {% endfor %}
        </select>
    </form>

    {% if selected_user %}
        <h2>Permisos para {{ selected_username }}</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ selected_username }}">
            
            <label for="group_select">Seleccione un grupo:</label>
            <select name="group_select" id="group_select" onchange="loadGroupPermissions(this.value)">
                <option value="">--Seleccione un grupo--</option>
                {% for grupo in grupos %}
                    <option value="{{ grupo.id }}">{{ grupo.name }}</option>
                {% endfor %}
            </select>
            <br><br>
            
            <div class='cajapermisos'>
            {% for permiso in permisos %}
                <div>
                    <input type="checkbox" name="permissions" value="{{ permiso.id }}"
                           id="permiso_{{ permiso.id }}"
                           {% if permiso in selected_user_permissions %}checked{% endif %}>
                    <label for="permiso_{{ permiso.id }}">{{ permiso.name }}</label>
                </div>
            {% endfor %}
            <div>
                <input type="checkbox" name="is_active" id="is_active" {% if selected_user.is_active %}checked{% endif %}>
                <label for="is_active">Activo</label>
            </div>
            </div>
            <br><br><br>
            <div class="button-container">
                <button type="submit" class="save-button">Guardar</button>
            </div>
            <br>
        </form>
        
        <form id="delete-user-form" method="post" action="{% url 'asignar_permisos' %}">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ selected_username }}">
            <input type="hidden" name="delete_user" value="true">
            <button type="button" class="delete-button" onclick="confirmDelete()">Eliminar Usuario</button>
        </form>
        <br>
        <form id="make-superuser-form" method="post" action="{% url 'asignar_permisos' %}">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ selected_username }}">
            <input type="hidden" name="make_superuser" value="true">
            <button type="submit" class="superuser-button">Hacer Superusuario</button>
        </form>
    {% endif %}
    </div>
    <br><br><br>

    <a href="{% url 'crear_grupo' %}"><button>Crear Grupo</button></a>
    <br><br><br>

    <script>
        function confirmDelete() {
            Swal.fire({
                title: '¿Está seguro?',
                text: "¡No podrás revertir esto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminarlo',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('delete-user-form').submit();
                }
            })
        }

        // Mostrar alerta si hay mensajes de éxito
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    Swal.fire({
                        title: 'Éxito',
                        text: '{{ message }}',
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    });
                {% endif %}
            {% endfor %}
        {% endif %}

        function loadGroupPermissions(groupId) {
            if (groupId) {
                fetch(`/api/group-permissions/${groupId}/`)
                    .then(response => response.json())
                    .then(data => {
                        const groupPermissionsDiv = document.getElementById('group_permissions');
                        const checkboxes = document.querySelectorAll('input[type="checkbox"][name="permissions"]');

                        // Clear all checkboxes
                        checkboxes.forEach(checkbox => checkbox.checked = false);

                        // Check the permissions that belong to the group
                        data.permissions.forEach(permission => {
                            const checkbox = document.getElementById(`permiso_${permission.id}`);
                            if (checkbox) {
                                checkbox.checked = true;
                            }
                        });
                    })
                    .catch(error => console.error('Error fetching group permissions:', error));
                } else {
                    const groupPermissionsDiv = document.getElementById('group_permissions');
                    groupPermissionsDiv.innerHTML = '';
                }
        }
    </script>
</body>
</html>
