{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Registro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/inser_registro.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/editar_item.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/perfil/">Perfil</a></li>
            <li><a href="/">Inicio</a></li>
            {%if perms.app.view_registro%}
            <li><a href="/inventario/">Inventario</a></li>
            {%endif%}
            <li><a href="/recetas/">Recetas</a></li>
            {% if perms.app.view_item %}
            <li><a href="{% url 'listar_items' %}">Items</a></li>  
            {% endif %}
            {% if perms.app.view_marca %}
            <li><a href="/marca/">Marca</a></li>
            {% endif %}
            {% if perms.app.view_proveedor %}
            <li><a href="/proveedores/">Proveedores</a></li>
            {% endif %}
            {% if perms.app.view_type %}
            <li><a href="/tipos/">Tipos</a></li>
            {% endif %}
            {% if perms.app.view_locatios %}
            <li><a href="/listar-locations/">Equipos</a></li>
            {% endif %}
            {% if perms.app.view_bitacora %}
            <li><a href="/bitacora/">Bitácora</a></li>
            {% endif %}
            {% if perms.app.view_auth_permission %}
            <li><a href="/asignar-permisos/">Permisos</a></li>
            {% endif %}
            <li><a href="/usos-receta/">Reporte</a></li>
            <li>
                <div class="cerrar-sesion"><a href="{% url 'salir' %}" class="cerrar-sesion">Salir</a></div>
            </li>
        </ul>
    </nav>
    <br><br><br>
    <h1>Editar registro</h1>
    <div class="container">
        <div class="edit">
            <form id="editForm" method="post">
                {% csrf_token %}
                <div class="column-left">
                    <label for="nombre">Nombre:</label><br>
                    <span id="nombre">{{ item.nombre }}</span><br>
                    
                    <label for="contenido">Contenido:</label><br>
                    <input type="text" id="contenido" name="contenido" value="{{ item.contenido }}" readonly><br>
                    
                    <label for="unidad_medida">Unidad de Medida:</label><br>
                    <input type="text" id="unidad_medida" name="unidad_medida" value="{{ item.unidad_de_medida }}" readonly><br>
                    
                    <label for="tipo">Tipo:</label><br>
                    <select id="tipo" name="tipo">
                        {% for type in types %}
                        <option value="{{ type.id }}" {% if type in item.types.all %} selected {% endif %}>{{ type.nombre }}</option>
                        {% endfor %}
                    </select><br>
                    
                    <label for="ubicacion">Ubicación:</label><br>
                    <span id="ubicacion">{{ item.locations.all.0.equipo }}</span><br>

                    <label for="nivel">Nivel:</label><br>
                    <span id="nivel">{{ item.locations.all.0.nivel }}</span><br>

                    <label for="marca">Marca:</label><br>
                    <select id="marca" name="marca">
                        {% for marca in marcas %}
                        <option value="{{ marca.id }}" {% if marca in item.marcas.all %} selected {% endif %}>{{ marca.nombre }}</option>
                        {% endfor %}
                    </select><br>
                </div>
                <div class="column-right">
                    <label for="cod_barras">Código de Barras:</label><br>
                    <input type="text" id="cod_barras" name="cod_barras" value="{{ registro.cod_barras }}"><br>
                    <label for="no_referencia_inv">Número de Referencia:</label><br>
                    <input type="text" id="no_referencia_inv" name="no_referencia_inv" value="{{ registro.no_referencia_inv }}"><br>
                    <label for="fecha_caducidad">Fecha de Caducidad:</label><br>
                    <input type="date" id="fecha_caducidad" name="fecha_caducidad" value="{% if registro.fecha_caducidad %}{{ registro.fecha_caducidad|date:'Y-m-d' }}{% endif %}"><br>
                    <label for="lote">Lote:</label><br>
                    <input type="text" id="lote" name="lote" value="{{ registro.lote }}"><br>
                    <label for="fecha_recepcion">Fecha de Recepción:</label><br>
                    <input type="date" id="fecha_recepcion" name="fecha_recepcion" value="{% if registro.fecha_recepcion %}{{ registro.fecha_recepcion|date:'Y-m-d' }}{% endif %}"><br>
                    <label for="cantidad">Cantidad:</label><br>
                    <input type="text" id="cantidad" name="cantidad" value="{{ registro.cantidad }}"><br>
                    <label for="cod">Código:</label><br>
                    <input type="text" id="cod" name="cod" value="{{ registro.cod }}"><br>
                    <label for="status">Status:</label><br>
                    <input type="text" id="status" name="status" value="{{ registro.status }}"><br>
                    <label for="precio">Precio:</label><br>
                    <input type="number" id="precio" name="precio" value="{{ precio_actual }}"><br>                    
                </div>
                <button type="button" id="submitBtn">Guardar</button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var ubicacionSelect = document.getElementById("ubicacion");
            var nivelInput = document.getElementById("nivel");

            function actualizarNivel() {
                var selectedOption = ubicacionSelect.options[ubicacionSelect.selectedIndex];
                var nivel = selectedOption.getAttribute("data-nivel");
                nivelInput.value = nivel;
            }

            ubicacionSelect.addEventListener("change", actualizarNivel);
            
            actualizarNivel();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var nombreSelect = document.getElementById("nombre");
            var contenidoInput = document.getElementById("contenido");
            var unidadMedidaInput = document.getElementById("unidad_medida");

            function actualizarCampos() {
                var selectedOption = nombreSelect.options[nombreSelect.selectedIndex];
                var contenido = selectedOption.getAttribute("data-contenido");
                var unidadMedida = selectedOption.getAttribute("data-unidad_medida");
                
                contenidoInput.value = contenido;
                unidadMedidaInput.value = unidadMedida;
            }

            nombreSelect.addEventListener("change", actualizarCampos);
            
            // Inicializar los campos al cargar la página
            actualizarCampos();
        });
    </script>

    <script>
        document.getElementById('submitBtn').addEventListener('click', function() {
            Swal.fire({
                title: '¿Seguro que quieres editar este registro?',
                text: "Asegúrate de que los datos son correctos.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, editar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('editForm').submit();
                }
            });
        });
    </script>
    <script>
        document.getElementById('editForm').addEventListener('submit', function(event) {
            var precioInput = document.getElementById('precio');
            precioInput.value = precioInput.value.replace(/,/g, '');
        });
    </script>
</body>
</html>
