{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Item</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/crear_item.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/perfil/">Perfil</a></li>
            <li><a href="/">Inicio</a></li>
            {%if perms.app.view_registro%}
            <li><a href="/inventario/">Inventario</a></li>
            {%endif%}
            {% if perms.app.view_receta %}
            <li><a href="/recetas/">Recetas</a></li>
            {% endif %}
            {% if perms.app.view_item %}
            <li><a href="{% url 'listar_items' %}">Items</a></li>  
            {% endif %}
            {% if perms.app.view_marca %}
            <li><a href="/marca/">Marca</a></li>
            {% endif %}
            {% if perms.app.view_proveedor %}
            <li><a href="/proveedores/">Proveedores</a></li>
            {% endif %}
            {% if perms.app.view_type %}
            <li><a href="/tipos/">Tipos</a></li>
            {% endif %}
            {% if perms.app.view_location %}
            <li><a href="/listar-locations/">Ubicaciones</a></li>
            {% endif %}
            {% if perms.app.view_bitacora %}
            <li><a href="/bitacora/">Bitácora</a></li>
            {% endif %}
            {% if perms.app.view_auth_permission %}
            <li><a href="/asignar-permisos/">Permisos</a></li>
            {% endif %}
            {% if perms.app.view_receta %}
            <li><a href="/usos-receta/">Reporte</a></li>
            {% endif %}
            <li>
                <div class="cerrar-sesion"><a href="{% url 'salir' %}" class="cerrar-sesion">Salir</a></div>
            </li>
        </ul>
    </nav>
    <div class="container">
        <br><br><br>
        <h1>Editar Item</h1>
        <form id="editForm" method="POST">
            {% csrf_token %}
            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="{{ item.nombre }}" required>
            </div>
            <div>
                <label for="contenido">Contenido:</label>
                <input type="text" id="contenido" name="contenido" value="{{ item.contenido }}" required>
            </div>
            <div>
                <label for="unidad_de_medida">Unidad de Medida:</label>
                <input type="text" id="unidad_de_medida" name="unidad_de_medida" value="{{ item.unidad_de_medida }}" required>
            </div>
            <div>
                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" value="{{ item.stock }}" required>
            </div>
            <div>
                <label for="stock_minimo">Stock Mínimo:</label>
                <input type="number" id="stock_minimo" name="stock_minimo" value="{{ item.stock_minimo }}" required>
            </div>
            <div>
                <label for="types">Tipo:</label>
                <select id="types" name="types" required>
                    {% for type in types %}
                    <option value="{{ type.id }}" {% if type.id == item.types.id %} selected {% endif %}>{{ type.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="locations">Ubicación:</label>
                <select id="locations" name="locations" required onchange="changeLocation()">
                    {% for location in locations %}
                    <option value="{{ location.id }}" data-nivel="{{ location.nivel }}" {% if location.id == item.locations.id %} selected {% endif %}>{{ location.equipo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="nivel">Nivel:</label>
                <input type="text" id="nivel" name="nivel" value="{{ item.locations.nivel }}" disabled>
            </div>
            <div>
                <label for="marcas">Marca:</label>
                <select id="marcas" name="marcas" required>
                    {% for marca in marcas %}
                    <option value="{{ marca.id }}" {% if marca.id == item.marcas.id %} selected {% endif %}>{{ marca.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="proveedores">Proveedor:</label>
                <select id="proveedores" name="proveedores" required>
                    {% for proveedor in proveedores %}
                    <option value="{{ proveedor.id }}" {% if proveedor.id == item.proveedores.id %} selected {% endif %}>{{ proveedor.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="descripcion_personalizada" id="descripcion_personalizada">
            <button type="button" id="submitBtn">Guardar</button>
        </form>
        <br><br><br>
    </div>

    <script>
        function changeLocation() {
            var selectElement = document.getElementById('locations');
            var nivelElement = document.getElementById('nivel');
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            var nivel = selectedOption.getAttribute('data-nivel');
            nivelElement.value = nivel;
        }

        document.getElementById('submitBtn').addEventListener('click', function() {
            Swal.fire({
                title: '¿Seguro que quieres editar este ítem?',
                text: "Asegúrate de que los datos son correctos.",
                input: 'textarea',
                inputLabel: 'Ingresa la descripción',
                inputPlaceholder: 'Escribe tu descripción aquí...',
                inputAttributes: {
                    'aria-label': 'Escribe tu descripción aquí'
                },
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Guardar Cambios'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('descripcion_personalizada').value = result.value;
                    document.getElementById('editForm').submit();
                }
            });
        });
    </script>
</body>
</html>
