{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventario UUSMB</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="/perfil/">Perfil</a></li>
                <li><a href="/">Inicio</a></li>
                {%if perms.app.view_registro%}
                <li><a href="/inventario/">Inventario</a></li>
                {%endif%}
                <li><a href="/recetas/">Recetas</a></li>
                {% if perms.app.view_item %}
                <li><a href="{% url 'listar_items' %}">Items</a></li>  
                {% endif %}
                {% if perms.app.view_marca %}
                <li><a href="/marca/">Marca</a></li>
                {% endif %}
                {% if perms.app.view_proveedor %}
                <li><a href="/proveedores/">Proveedores</a></li>
                {% endif %}
                {% if perms.app.view_type %}
                <li><a href="/tipos/">Tipos</a></li>
                {% endif %}
                {% if perms.app.view_locatios %}
                <li><a href="/listar-locations/">Equipos</a></li>
                {% endif %}
                {% if perms.app.view_bitacora %}
                <li><a href="/bitacora/">Bitácora</a></li>
                {% endif %}
                {% if perms.app.view_auth_permission %}
                <li><a href="/asignar-permisos/">Permisos</a></li>
                {% endif %}
                <li><a href="/usos-receta/">Reporte</a></li>
                <li>
                    <div class="cerrar-sesion"><a href="{% url 'salir' %}" class="cerrar-sesion">Salir</a></div>
                </li>
            </ul>
        </nav>
        <div class="bienvenida">
            <h1>BIENVENID@ {{ request.user.username.upper }}</h1>
            <h2>sistema de Inventario</h2>
            <img src="{% static 'imagenes/video.png' %}" alt="logo de la uusmb" class="video">
        </div>
        <img src="{% static 'imagenes/uusmb.png' %}" alt="logo de la uusmb" class="logo">
    
        <p>______________________________________________________________________________________</p><br><br>
        <p>Este es un sistema de Inventarios para la unidad universitaria de secuenciacion masiva <br>y bioinformatica
        donde sirve para tener un control sobre todo los reactivos que entran <br>a la unidad y asi llevar un mejor control sobre todos estos reactivos</p>
    </div>
</body>
</html>