{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar Marca</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/editar_proveedor.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/perfil/">Perfil</a></li>
            <li><a href="/">Inicio</a></li>
            {%if perms.app.view_registro%}
            <li><a href="/inventario/">Inventario</a></li>
            {%endif%}
            <li><a href="/recetas/">Recetas</a></li>
            {% if perms.app.view_item %}
            <li><a href="{% url 'listar_items' %}">Items</a></li>  
            {% endif %}
            {% if perms.app.view_marca %}
            <li><a href="/marca/">Marca</a></li>
            {% endif %}
            {% if perms.app.view_proveedor %}
            <li><a href="/proveedores/">Proveedores</a></li>
            {% endif %}
            {% if perms.app.view_type %}
            <li><a href="/tipos/">Tipos</a></li>
            {% endif %}
            {% if perms.app.view_locatios %}
            <li><a href="/listar-locations/">Equipos</a></li>
            {% endif %}
            {% if perms.app.view_bitacora %}
            <li><a href="/bitacora/">Bitácora</a></li>
            {% endif %}
            {% if perms.app.view_auth_permission %}
            <li><a href="/asignar-permisos/">Permisos</a></li>
            {% endif %}
            <li><a href="/usos-receta/">Reporte</a></li>
            <li>
                <div class="cerrar-sesion"><a href="{% url 'salir' %}" class="cerrar-sesion">Salir</a></div>
            </li>
        </ul>
    </nav>
    <br><br><br><br>
    <h1>Registrar Marca</h1>
    <form method="post" id="marcaform">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" onclick="showConfirmationAlert()">Guardar</button>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <script>
        function showConfirmationAlert() {
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Se agregará una nueva marca',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, agregar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('marcaform').submit();
                }
            });
        }

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    Swal.fire({
                        title: 'Éxito',
                        text: '{{ message }}',
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    });
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
</body>
</html>
