{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Inventario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventario.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="/perfil/">Perfil</a></li>
                <li><a href="/">Inicio</a></li>
                {%if perms.app.view_registro%}
                <li><a href="/inventario/">Inventario</a></li>
                {%endif%}
                <li><a href="/recetas/">Recetas</a></li>
                {% if perms.app.view_item %}
                <li><a href="{% url 'listar_items' %}">Items</a></li>  
                {% endif %}
                {% if perms.app.view_marca %}
                <li><a href="/marca/">Marca</a></li>
                {% endif %}
                {% if perms.app.view_proveedor %}
                <li><a href="/proveedores/">Proveedores</a></li>
                {% endif %}
                {% if perms.app.view_type %}
                <li><a href="/tipos/">Tipos</a></li>
                {% endif %}
                {% if perms.app.view_locatios %}
                <li><a href="/listar-locations/">Equipos</a></li>
                {% endif %}
                {% if perms.app.view_bitacora %}
                <li><a href="/bitacora/">Bitácora</a></li>
                {% endif %}
                {% if perms.app.view_auth_permission %}
                <li><a href="/asignar-permisos/">Permisos</a></li>
                {% endif %}
                <li><a href="/usos-receta/">Reporte</a></li>
                <li>
                    <div class="cerrar-sesion"><a href="{% url 'salir' %}" class="cerrar-sesion">Salir</a></div>
                </li>
            </ul>
        </nav>
        <h1>Inventario</h1>
        <div class='color_p'>
            <div class="color-rojo"></div>
            <p>peligro</p> 
        </div>
        <div class='color_a'>
            <div class="color-amarillo"></div>
            <p class='ama'>precaucion</p> 
        </div>
        <div class="search-bar">
            <form>
                <input type="text" id="search-input" name="search" placeholder="Buscar...">
            </form>
        </div>
        {% if perms.app.add_registro %}
        <button type="button" class='insertar' onclick="window.location.href='{% url 'insertar_r' %}'" alt="registrar item">
            <img src="{% static 'imagenes/insertar.png' %}" class="insertar-imagen" alt="registrar item">
        </button>
        {% endif %}
        <table class="default">
            <thead>
                <tr>
                    <th>
                        <form class="filter-form">
                            
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="id-filter" placeholder="Id" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="nombre-filter" placeholder="Nombre" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="contenido-filter" placeholder="Contenido" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="unidad-medida-filter" placeholder="Unidad de Medida" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="stock-filter" placeholder="Stock" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="marca-filter" placeholder="Marca" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="cod-barras-filter" placeholder="Código de Barras" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="numero-referencia-filter" placeholder="Número de Referencia" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="fecha-caducidad-filter" placeholder="Fecha de Caducidad" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="lote-filter" placeholder="Lote" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="fecha-recepcion-filter" placeholder="Fecha de Recepción" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="cantidad-filter" placeholder="Cantidad" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="cod-filter" placeholder="Código" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="tipo-filter" placeholder="Tipo" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="equipo-filter" placeholder="Equipo" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="nivel-filter" placeholder="Nivel" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="status-filter" placeholder="Status" class="filter-input">
                        </form>
                    </th>
                    <th>
                        <form class="filter-form">
                            <input type="text" id="precio-filter" placeholder="Precio" class="filter-input">
                        </form>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Contenido</th>
                    <th>Unidad Medida</th>
                    <th>Stock</th>
                    <th>Marca</th>
                    <th>Cod barras</th>
                    <th>Numero Referencia</th>
                    <th>Fecha Caducidad</th>
                    <th>Lote</th>
                    <th>Fecha Recepcion</th>
                    <th>Cantidad</th>
                    <th>Cod</th>
                    <th>Tipo</th>
                    <th>Equipo</th>
                    <th>Nivel</th>
                    <th>Status</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>
                        {% if perms.app.change_registro %}
                        <button type="button" onclick="window.location.href='{% url 'editar_registro' registro.id %}'" class="editar">
                            <img src="{% static 'imagenes/editar.png' %}" alt="Editar">
                        </button>
                        {% endif %}
                        <br>
                        {% if perms.app.delete_registro %}
                        <button type="button" class="eliminar" data-registro-id="{{ registro.id }}">
                            <img src="{% static 'imagenes/borrar.png' %}" alt="Borrar">
                        </button>
                        {% endif %}
                    </td>
                    <td>{{ registro.id }}</td>
                    <td>{{ registro.item.nombre }}</td>
                    <td>{{ registro.item.contenido }}</td>
                    <td>{{ registro.item.unidad_de_medida }}</td>
                    <td class="stock-cell">{{ registro.item.stock }}</td>
                    <td>
                        {% for marca in registro.item.marcas.all %}
                            {{ marca.nombre }}
                        {% endfor %}
                    </td>
                    <td>{{ registro.cod_barras }}</td>
                    <td>{{ registro.no_referencia_inv }}</td>
                    <td>{{ registro.fecha_caducidad|date:"d/m/Y" }}</td>
                    <td>{{ registro.lote }}</td>
                    <td>{{ registro.fecha_recepcion|date:"d/m/Y" }}</td>
                    <td>{{ registro.cantidad }}</td>
                    <td>{{ registro.cod }}</td>
                    <td>
                        {% for type in registro.item.types.all %}
                            {{ type.nombre }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for location in registro.item.locations.all %}
                            {{ location.equipo }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for location in registro.item.locations.all %}
                            {{ location.nivel }}
                        {% endfor %}
                    </td>
                    <td>{{ registro.status }}</td>
                    <td>${{ registro.precio}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    <script>
        $(document).ready(function() {
            $('#search-input').on('input', function() {
                var searchText = $(this).val().toLowerCase();
                $('table.default tbody tr').each(function() {
                    var rowVisible = false;
                    $(this).find('td').each(function() {
                        var cellText = $(this).text().toLowerCase();
                        if (cellText.includes(searchText)) {
                            rowVisible = true;
                            return false; 
                        }
                    });
                    $(this).toggle(rowVisible);
                });
            });

            $('.eliminar').click(function() {
                var button = $(this);
                var registroId = button.data('registro-id');
                
                Swal.fire({
                    title: "¿Estás seguro?",
                    text: "No podrás revertir este cambio",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#FF1401",
                    cancelButtonColor: "#458CFA",
                    confirmButtonText: "Eliminar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        var row = button.closest('tr');
                        $.ajax({
                            url: '/eliminar_registro/' + registroId + '/',
                            type: 'POST',
                            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                            success: function(response) {
                                row.remove();
                                Swal.fire({
                                    title: "¡Eliminado!",
                                    text: "El registro ha sido eliminado.",
                                    icon: "success"
                                });
                            },
                            error: function(xhr, errmsg, err) {
                                console.log('Error al eliminar el registro:', errmsg);
                            }
                        });
                    }
                });
            });

            $('.filter-input').on('input', function() {
                var filters = {};
                $('.filter-input').each(function() {
                    var columnIndex = $(this).closest('th').index();
                    filters[columnIndex] = $(this).val().toLowerCase();
                });

                $('table.default tbody tr').each(function() {
                    var mostrarFila = true;
                    var row = $(this);

                    $(this).find('td').each(function(columnIndex) {
                        var cellText = $(this).text().toLowerCase();
                        var filterText = filters[columnIndex];

                        if (filterText && !cellText.includes(filterText)) {
                            mostrarFila = false;
                            return false;
                        }
                    });

                    row.toggle(mostrarFila);
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
            var rows = document.querySelectorAll("tbody tr");
            var rowsByNombre = {};
            var expandedRows = {};

            rows.forEach(function(row) {
                var nombreCell = row.querySelector("td:nth-child(3)");
                var nombre = nombreCell ? nombreCell.textContent.trim() : "";

                if (nombre) {
                    if (!rowsByNombre[nombre]) {
                        rowsByNombre[nombre] = [];
                    }

                    rowsByNombre[nombre].push(row);

                    row.addEventListener("click", function(event) {
                        var isButtonClick = event.target.classList.contains("eliminar") || event.target.classList.contains("editar") || event.target.parentElement.classList.contains("eliminar") || event.target.parentElement.classList.contains("editar");

                        if (!isButtonClick) {
                            var isExpanded = expandedRows[nombre];

                            if (!isExpanded) {
                                rows.forEach(function(row) {
                                    row.style.display = "none";
                                });

                                var rowsToShow = rowsByNombre[nombre] || [];
                                rowsToShow.forEach(function(rowToShow) {
                                    rowToShow.style.display = "";
                                });

                                expandedRows[nombre] = true;
                            } else {
                                rows.forEach(function(row) {
                                    row.style.display = "";
                                });

                                expandedRows[nombre] = false;
                            }
                        }
                    });
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var today = new Date();
            var twoMonthsLater = new Date();
            var fourMonthsLater = new Date();

            twoMonthsLater.setMonth(today.getMonth() + 2);
            fourMonthsLater.setMonth(today.getMonth() + 4);

            var filasRojo = [];
            var filasAmarillo = [];
            var filasRestantes = [];

            var rows = document.querySelectorAll("tbody tr");

            rows.forEach(function(row) {
                var fechaCaducidadCell = row.querySelector("td:nth-child(10)");
                var fechaCaducidadText = fechaCaducidadCell ? fechaCaducidadCell.textContent.trim() : null;

                if (fechaCaducidadText) {
                    var partesFecha = fechaCaducidadText.split('/');
                    var fechaCaducidad = new Date(partesFecha[2], partesFecha[1] - 1, partesFecha[0]);

                    if (fechaCaducidad < twoMonthsLater) {
                        row.style.backgroundColor = "red";
                        fechaCaducidadCell.style.color = "white";
                        filasRojo.push(row);
                    } else if (fechaCaducidad >= twoMonthsLater && fechaCaducidad < fourMonthsLater) {
                        row.style.backgroundColor = "yellow";
                        fechaCaducidadCell.style.color = "red";
                        filasAmarillo.push(row);
                    } else {
                        filasRestantes.push(row);
                    }
                } else {
                    filasRestantes.push(row);
                }

                var stockCell = row.querySelector(".stock-cell");
                var itemId = row.dataset.itemId;
                var stockMinimo = {{ items_with_stock_minimo|safe }}[itemId];

                if (stockCell) {
                    var stockValue = parseInt(stockCell.textContent.trim(), 10);

                    if (stockValue <= stockMinimo) {
                        stockCell.style.color = "red"; // Cambiar el color del texto del stock
                    }
                }
            });

            // Reconstruir el cuerpo de la tabla
            var tbody = document.querySelector("table.default tbody");
            tbody.innerHTML = "";

            filasRojo.concat(filasAmarillo).concat(filasRestantes).forEach(function(fila) {
                tbody.appendChild(fila);
            });
        });
    </script>
    
</body>
</html>