{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marcas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/marca.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="/perfil/">Perfil</a></li>
                <li><a href="/">Inicio</a></li>
                {% if perms.app.view_item %}
                <li><a href="/inventario/">Inventario</a></li>
                {% endif %}
                {% if perms.app.view_item %}
                <li><a href="{% url 'listar_items' %}">Items</a></li>
                {% endif %}
                <li><a href="/recetas/">Recetas</a></li>
                <li><a href="/bitacora/">Bitácora</a></li>
                {% if perms.app.view_marca %}
                <li><a href="/marca/">Marca</a></li>
                {% endif %}
                {% if perms.app.view_proveedor %}
                <li><a href="/proveedores/">Proveedores</a></li>
                {% endif %}
                {% if perms.app.view_auth_permission %}
                <li><a href="/asignar-permisos/">Permisos</a></li>
                {% endif %}
                <li>
                    <div class="cerrar-sesion"><a href="{% url 'salir' %}" class="cerrar-sesion">salir</a></div>
                </li>
            </ul>
        </nav>
        <br><br><br><br>
        <h1>Marcas</h1>

        {% if messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    {% for message in messages %}
                        Swal.fire({
                            title: 'exito',
                            text: '{{ message }}',
                            icon: '{{ message.tags|default:"info" }}',
                            confirmButtonText: 'Ok'
                        });
                    {% endfor %}
                });
            </script>
        {% endif %}

        {% if perms.app.add_marca %}
        <button type="button" class='insertar' onclick="window.location.href='{% url 'marcaregistro' %}'" alt="registrar marca">
            <img src="{% static 'imagenes/insertar.png' %}" class="insertar-imagen" alt="registrar provedor"></button>
        {% endif %}
        <table class="default">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                {% for marca in Marcas %}
                <tr>
                    <td>
                        {% if perms.app.change_marca %}
                        <button type="button" onclick="window.location.href='{% url 'editar_marca' marca.id %}'" class="editar">
                            <img src="{% static 'imagenes/editar.png' %}" alt="Editar">
                        </button>
                        {% endif %}
                        <br><br>
                        {% if perms.app.delete_marca %}
                        <button type="button" class="eliminar" data-item-id="{{ marca.id }}">
                            <img src="{% static 'imagenes/borrar.png' %}">
                        {% endif %}
                    </td>
                    <td>{{ marca.id }}</td>
                    <td>{{ marca.nombre }}</td>
                    <td>{{ marca.descripcion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        document.querySelectorAll('.eliminar').forEach(button => {
            button.addEventListener('click', function() {
                const itemId = this.getAttribute('data-item-id');
                Swal.fire({
                    title: "¿Estás seguro de que quieres eliminarlo?",
                    text: "Este cambio no se puede revertir",
                    input: 'textarea',
                    inputLabel: 'Ingresa una descripción',
                    inputPlaceholder: 'Escribe el motivo por el que quieres eliminarlo...',
                    inputAttributes: {
                        'aria-label': 'Escribe el motivo por el que quieres eliminarlo...'
                    },
                    showCancelButton: true,
                    confirmButtonColor: "#FF1401",
                    cancelButtonColor: "#458CFA",
                    confirmButtonText: "Eliminar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        const csrftoken = getCookie('csrftoken');
                        const formData = new FormData();
                        formData.append('descripcion_personalizada', result.value);
                        fetch(`/eliminar-marca/${itemId}/`, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': csrftoken,
                            },
                            body: formData
                        }).then(response => {
                            if (response.ok) {
                                Swal.fire({
                                    title: "¡Eliminado!",
                                    text: "La marca ha sido eliminada.",
                                    icon: "success"
                                }).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                console.error('Error al eliminar la marca');
                            }
                        }).catch(error => {
                            console.error('Error al eliminar la marca:', error);
                        });
                    }
                });
            });
        });
    
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</body>
</html>
