{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro receta</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/recetas_r.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/perfil/">Perfil</a></li>
            <li><a href="/">Inicio</a></li>
            {% if perms.app.view_item %}
            <li><a href="/inventario/">Inventario</a></li>
            <li><a href="{% url 'listar_items' %}">Items</a></li>
            {% endif %}
            <li><a href="/recetas/">Recetas</a></li>
            <li><a href="/bitacora/">Bitácora</a></li>
            {% if perms.app.view_marca %}
            <li><a href="/marca/">Marca</a></li>
            {% endif %}
            {% if perms.app.view_proveedor %}
            <li><a href="/proveedores/">Proveedores</a></li>
            {% endif %}
            {% if perms.app.view_auth_permission %}
            <li><a href="/asignar-permisos/">Permisos</a></li>
            {% endif %}
            <li>
                <div class="cerrar-sesion"><a href="{% url 'salir' %}" class="cerrar-sesion">Salir</a></div>
            </li>
        </ul>
    </nav>
    <br><br><br><br>
    <h1>Nueva receta</h1>
    <form method="POST" id="recetas">
        {% csrf_token %}
        <div class="column-left">
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre"><br>
            <label for="descripcion">Descripción:</label><br>
            <input type="text" id="descripcion" name="descripcion"><br>
            <label for="ingredientes">Ingredientes:</label><br>
            <div id="ingredientes-container">
                <div class="ingrediente">
                    <select name="ingredientes" onchange="updateUnidadMedida(this)">
                        {% for registro in registros %}
                        <option value="{{ registro.id }}" data-unidad="{{ registro.item.unidad_de_medida }}">{{ registro.item.nombre }} - Registro ID: {{ registro.id }} ({{ registro.no_referencia_inv }})</option>
                        {% endfor %}
                    </select>
                    <input type="number" name="cantidades" placeholder="Cantidad" class="cantidad">
                    <input name="unidad_medida" class="unidad-medida" readonly>
                </div>
            </div>
            <button type="button" class='ingrediente' onclick="addIngrediente()">Agregar ingrediente</button><br><br>
            <label for="subrecetas">Sub Recetas:</label><br>
            <div id="subrecetas-container">
                <div class="subreceta">
                    <select name="subrecetas">
                        {% for receta in recetas %}
                        <option value="{{ receta.id }}">{{ receta.nombre }}</option>
                        {% endfor %}
                    </select>
                    <input type="number" name="subcantidades" placeholder="Cantidad" class="cantidads">
                </div>
            </div>
            <button type="button" class="sub" onclick="addSubreceta()">Agregar sub receta</button><br>
        </div>
        <br>
        <button type="button" class="guardar" onclick="showConfirmationAlert()">Guardar</button>
    </form>
    <br><br>
    <script>
        function showConfirmationAlert() {
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Se agregará una nueva receta',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, agregar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('recetas').submit();
                }
            });
        }

        function addIngrediente() {
            const container = document.getElementById('ingredientes-container');
            const ingredienteDiv = document.createElement('div');
            ingredienteDiv.className = 'ingrediente';
            ingredienteDiv.innerHTML = `
                <select name="ingredientes" onchange="updateUnidadMedida(this)">
                    {% for registro in registros %}
                    <option value="{{ registro.id }}" data-unidad="{{ registro.item.unidad_de_medida }}">{{ registro.item.nombre }} - Registro ID: {{ registro.id }} ({{ registro.no_referencia_inv }})</option>
                    {% endfor %}
                </select>
                <input type="number" name="cantidades" placeholder="Cantidad">
                <input type="text" name="unidad_medida" class="unidad-medida" readonly>
            `;
            container.appendChild(ingredienteDiv);
        }

        function addSubreceta() {
            const container = document.getElementById('subrecetas-container');
            const subrecetaDiv = document.createElement('div');
            subrecetaDiv.className = 'subreceta';
            subrecetaDiv.innerHTML = `
                <select name="subrecetas">
                    {% for receta in recetas %}
                    <option value="{{ receta.id }}">{{ receta.nombre }}</option>
                    {% endfor %}
                </select>
                <input type="number" name="subcantidades" placeholder="Cantidad">
            `;
            container.appendChild(subrecetaDiv);
        }

        function updateUnidadMedida(selectElement) {
            const unidadMedida = selectElement.options[selectElement.selectedIndex].dataset.unidad;
            const unidadInput = selectElement.nextElementSibling.nextElementSibling;
            unidadInput.value = unidadMedida;
        }

        // Initialize unidad de medida for the first ingredients
        document.querySelectorAll('select[name="ingredientes"]').forEach(select => updateUnidadMedida(select));
    </script>
</body>
</html>
